.input {
  padding: 5px;
  margin-bottom: 10px;
  width: 120px;
  height: 30px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2f54a5;
  overflow: hidden;
}

.input::placeholder{
  color: #c2cce4;
}

.input[name='count']{
  margin-left: 5px;
}

.btn{
  width: 100px;
  height: 30px;
  color: #2f54a5;
  font-size: 15px;
}

.result {
  color: #47a52f;
  text-transform: uppercase;
  font-family: 'Arial';
}

.danger {
  color: red;
}